.main-footer {
  position: relative;
  padding-bottom: 70px;
}

.footer-columns {
  display: flex;
  align-items: center;
}

.footer-contacts {
  position: absolute;
  top: 55px;
  @include calculate('left', '(100% - 1160px) / 2', 140px);
  padding: 48px 50px;
  width: 320px;
  background-color: $white;

  b {
    display: block;
    margin-bottom: 24px;
    text-transform: uppercase;
    @include font_style(18px, 30px);
  }

  p {
    margin: 0;
    line-height: 18px;
  }

  .our-address {
    margin-bottom: 18px;
    max-width: 202px;
  }

  .our-phone {
    margin-bottom: 36px;
  }

  .button {
    padding-right: 44px;
    padding-left: 44px;
    width: 220px;
  }
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 260px;
  margin-right: 140px;

  .social-button {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $social_button_default;

    &:hover, &:focus {
      background-color: $social_button_hover;
    }

    &:active {
      background-color: $social_button_active;
      box-shadow: inset 0 3px 0 0 $social_button_active_shadow;
    }

    &:active::before {
      opacity: 0.3;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.vk-button::before {
  width: 26px;
  height: 15px;
  background-image: url('../img/vk-icon.svg');
}

.facebook-button::before {
  width: 12px;
  height: 22px;
  background-image: url('../img/facebook-icon.svg');
}

.instagram-button::before {
  width: 21px;
  height: 21px;
  background-image: url('../img/instagram-icon.svg');
}

.footer-friendship {
  width: 560px;

  b {
    display: block;
    margin-bottom: 10px;
    @include font_style(36px, 36px, false, 700);
  }

  p {
    margin: 0;
    line-height: 22px;
  }
}

.google-map {
  height: 415px;
  margin-bottom: 70px;
  background: grey url("../img/map.png") 50% 50%;
}
