.modal-write-us {
  display: none;

  h2 {
    @include font_style(45px, 45px, false, 500);
  }

  label {
    @include font_style(false, 18px, false, 700);
  }

  input, textarea {
    font: inherit;

    line-height: 18px;

    border: 2px solid $input_border_default;
    border-radius: 4px;
    outline: none;

    &::placehoder {
      color: $placehoder_color_default;
    }

    &:hover {
      border-color: $disabled_black;
    }

    &:focus {
      border-color: $black;

      &::placehoder {
        color: $placehoder_color_focus;
      }
    }

    &:focus:required:invalid {
      border-color: $placehoder_color_required;
      &::placehoder {
        color: $placehoder_color_required;
      }
    }
  }
}
