$white: #ffffff;
$black: #000000;
$disabled_black: rgba($color: $black, $alpha: 0.3);
$disabled_white: rgba($color: $white, $alpha: 0.3);

$header_background:  #eeeeee;
$header_links_color: #fb565a;
$slider_control: #c1c1c1;

$input_border_default: rgba($color: $black, $alpha: 0.1);
$placehoder_color_focus: rgb(68, 68, 68);
$placehoder_color_required: rgb(231, 66, 70);
$placehoder_color_default: rgba($color: $black, $alpha: 0.2);

$button_red_default:#fb5559;
$button_red_hover:  #e74246;
$button_red_active: #d7363a;
$button_red_active_shadow: #c13134;

$button_yellow_default:#efc749;
$button_yellow_hover:  #eab434;
$button_yellow_active: #e5a722;
$button_yellow_active_shadow: #ce961f;

$button_green_default: #00c973;
$button_green_hover:   #00bc6b;
$button_green_active:  #00aa61;
$button_green_active_shadow: #009957;

$button_filter_default: #ededed;
$button_filter_hover:   #dfdfdf;
$button_filter_active:  #d5d5d5;
$button_filter_active_shadow: #c0c0c0;

$social_button_default: #e1e1e1;
$social_button_hover: #e74246;
$social_button_active: #d7363a;
$social_button_active_shadow: #c13134;

$pagination_item_default: $button_filter_default;
$pagination_item_hover: $button_filter_hover;
$pagination_item_active: $button_filter_active;
$pagination_item_active_shadow: $button_filter_active_shadow;
$pagination_item_current_color: #dbdbdb;

$services_border: #eeeeee;
$partners_border: $services_border;
$index_columns_border: $partners_border;
$filter_label: #4d4d4d;
$sorting_link_hover: rgba(0, 0, 0, 0.6);
$catalog_item_background: #eeeeee;
$catalog_item_text_color: rgb(102, 102, 102);
$catalog_item_image_border: #ededed;
$order_item_before: $header_links_color;

$range_container: #ededed;
$range_input: $range_container;
$range_text: rgb(45, 54, 59);
$filled_progress: #00ca74;
$empty_progress: #d7dbdd;
$range_control_shadow: #cccccc;
$range_control_point: #ababab;

$filter_input: #a5a5a5;
$filter_input_hover: #4d4d4d;
$filter_input_disabled: #ededed;

$sort_arrow: #ededed;
$sort_arrow_hover: #a5a5a5;
$sort_arrow_active: $black;

@mixin font_style($font_size, $line_height, $color: false, $font_weight: false) {
  @if $font_size { font-size: $font_size; }
  @if $line_height { line-height: $line_height; }
  @if $color { color: $color; }
  @if $font_weight { font-weight: $font_weight; }
}

@mixin calculate($property, $expression, $default) {
  #{$property}: $default;
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
