@import "shared/storage";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font: 400 16px/24px "Roboto", Arial, sans-serif;
  color: $black;

  background: $white;

  main {
    margin-bottom: 80px;
  }

  &.catalog-page main {
    margin-bottom: 60px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 15px;

  line-height: 18px;
  color: $white;

  text-transform: uppercase;
  text-align: center;

  border: none;
  border-radius: 3px;

  &:active {
    color: $disabled_white;
  }

  &-red {
    background-color: $button_red_default;

    &:hover, &:focus {
      background-color: $button_red_hover;
    }

    &:active {
      background-color: $button_red_active;
      box-shadow: inset 0 3px 0 0 $button_red_active_shadow;
    }
  }

  &-yellow {
    background-color: $button_yellow_default;

    &:hover, &:focus {
      background-color: $button_yellow_hover;
    }

    &:active {
      background-color: $button_yellow_active;
      box-shadow: inset 0 3px 0 0 $button_yellow_active_shadow;
    }
  }

  &-green {
    background-color: $button_green_default;

    &:hover, &:focus {
      background-color: $button_green_hover;
    }

    &:active {
      background-color: $button_green_active;
      box-shadow: inset 0 3px 0 0 $button_green_active_shadow;
    }
  }

  &-filter {
    color: $black;
    background-color: $button_filter_default;

    &:hover, &:focus {
      background-color: $button_filter_hover;
    }

    &:active {
      color: $disabled_black;
      background-color: $button_filter_active;
      box-shadow: inset 0 3px 0 0 $button_filter_active_shadow;
    }
  }
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
