.slider {
  margin-bottom: 80px;
  background-color: $header_background;

  .container {
    position: relative;
  }

  &-controls {
    position: absolute;
    right: 50%;
    bottom: 96px;
    display: flex;
    justify-content: space-between;
    width: 88px;
    height: 18px;
    transform: translateX(50%);
  }
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  border: 5px solid $white;
  border-radius: 50%;
  transition: box-shadow 0.2s linear;
  cursor: pointer;
}

.selected-control {
  box-shadow: inset 0 0 0 2px $slider_control;
}

.slider-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  width: 1160px;
  padding: 80px 0;

  &:first-child {
    background: transparent url('../img/slide-1.png') top right no-repeat;
  }

  &:nth-child(2) {
    display: none;
    background: transparent url('../img/slide-2.png') top right no-repeat;
  }

  &:last-child {
    display: none;
    background: transparent url('../img/slide-3.png') top right no-repeat;
  }

  .button {
    width: 240px;
    padding-left: 54px;
    padding-right: 54px;
  }

  &-header {
    margin: 0;
    margin-bottom: 23px;
    max-width: 515px;
    @include font_style(55px, 55px, false, 500);
  }

  &-text {
    margin: 0;
    margin-bottom: 39px;
    max-width: 410px;
  }
}

.our-services {
  padding-bottom: 80px;
  border-bottom: 2px solid $services_border;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  .service-item {
    width: 300px;

    &:not(:last-child) {
      margin-right: 100px;
    }
  }
}

.service-item {
  display: flex;
  flex-direction: column;

  h3 {
    order: 1;
    margin: 0;
    margin-bottom: 15px;
    @include font_style(24px, 30px);
    text-transform: uppercase;
  }

  &-image {
    order: 0;
    margin: 0;
    margin-bottom: 26px;
    width: 300px;
    height: 146px;
  }

  &-text {
    order: 2;
    margin: 0;
    margin-bottom: 31px;
    width: 245px;
  }

  .button {
    order: 3;
    width: 160px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 73px;
  border-bottom: 2px solid $index_columns_border;
}

.about-us {
  padding-top: 75px;
  width: 660px;

  &-slogan {
    margin: 0;
    margin-bottom: 32px;
    @include font_style(45px, 45px, false, 500);
  }

  &-text {
    margin: 0;
    margin-bottom: 39px;
  }

  .make-orders-for {
    display: block;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .orders-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.orders-list li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 25px;
    background-color: $order_item_before;
    transform: translateY(-50%);
  }
}

.work-statistics {
  padding-top: 285px;
  width: 360px;
  background: $white url('../img/logo-2.png') right 40px no-repeat;
}

.work-statistics-table {
  width: 100%;

  caption {
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  th {
    position: relative;
    padding: 16px 0;
    width: 33.3%;
    @include font_style(45px, 10px, false, 700);
    text-align: left;

    &::after {
      content: "\0025";
      position: absolute;
      top: 7px;
      font-size: 26px;
      font-weight: 400;
    }
  }

  td {
    padding: 0;
    padding-top: 18px;
    width: 33.3%;
    line-height: 18px;
  }
}

.partners {
  border-bottom: 2px solid $partners_border;
}

.partners-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  .partner-item {
    width: 260px;
    height: 180px;
  }
}

.partner-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 40px;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 280px;
    width: 2px;
    height: 52px;
    background-color: $partners_border;
    transform: translate(-50%, -50%);
  }

  a {
    opacity: 0.2;

    &:hover, &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
