$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$disabled: rgba($black, 0.3);
$browser_outline: rgb(59, 153, 252);

$button_active_text: rgba($white, 0.3);

$button_red_default: rgb(251, 85, 89);
$button_red_hover: rgb(231, 66, 70);
$button_red_active: rgb(215, 54, 58);
$button_red_active_shadow: rgb(193, 49, 52);

$button_yellow_default: rgb(239, 199, 73);
$button_yellow_hover: rgb(234, 180, 52);
$button_yellow_active: rgb(229, 167, 34);
$button_yellow_active_shadow: rgb(206, 150, 31);

$button_green_default: rgb(0, 201, 115);
$button_green_hover: rgb(0, 188, 107);
$button_green_active: rgb(0, 170, 97);
$button_green_active_shadow: rgb(0, 153, 87);

$button_gray_default: rgb(237, 237, 237);
$button_gray_hover: rgb(223, 223, 223);
$button_gray_active: rgb(213, 213, 213);
$button_gray_active_shadow: rgb(192, 192, 192);

$social_button_default: rgb(225, 225, 225);
$social_button_hover: rgb(231, 66, 70);
$social_button_active: rgb(215, 54, 58);
$social_button_active_shadow: rgb(193, 49, 52);

$pagination_item_default: $button_gray_default;
$pagination_item_hover: $button_gray_hover;
$pagination_item_active: $button_gray_active;
$pagination_item_active_shadow: $button_gray_active_shadow;
$pagination_item_current_color: rgb(219, 219, 219);

$header_background: rgb(238, 238, 238);
$header_link_hover: rgb(251, 86, 90);
$header_active_link_border: $header_link_hover;

$input_border_default: rgb(215, 220, 222);
$input_border_hover: rgb(179, 184, 187);
$input_border_focus: $black;
$input_border_required: rgb(231, 65, 69);

$placeholder_color_default: rgb(161, 161, 161);
$placeholder_color_focus: rgb(68, 68, 68);
$placeholder_color_required: rgb(231, 65, 69);

$modal_shadow: rgba(0, 1, 1, 0.75);
$cross_default: rgb(253, 203, 205);
$cross_hover: rgb(251, 86, 90);
$cross_active: rgb(254, 237, 238);

$slider_selected_control: rgb(193, 193, 193);
$section_border: rgb(238, 238, 238);
$order_item_before: rgb(251, 86, 90);

$sort_arrow: rgb(237, 237, 237);
$sort_arrow_hover: rgb(165, 165, 165);
$sort_arrow_active: $black;
$sorting_link_hover: rgba(0, 0, 0, 0.6);

$filter_label: rgb(77, 77, 77);
$filter_input: rgb(165, 165, 165);
$filter_input_hover: rgb(77, 77, 77);
$filter_input_disabled: rgb(237, 237, 237);

$range_container: rgb(237, 237, 237);
$range_input: $range_container;
$range_text: rgb(45, 54, 59);
$filled_progress: rgb(0, 202, 116);
$empty_progress: rgb(215, 219, 221);
$range_control_shadow: rgb(204, 204, 204);
$range_control_point: rgb(171, 171, 171);

$catalog_item_background: rgb(237, 237, 237);
$catalog_item_text_color: rgb(102, 102, 102);
$catalog_item_image_border: $catalog_item_background;
